@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
font-family: 'Poppins', sans-serif;
margin:0;
padding:0;
box-sizing: border-box;
scroll-behavior: smooth;
}
header{
    background-color:white;
    width: 100%;
    position: fixed;
    z-index:999;
    display: flex;
   justify-content: space-between;
    align-item:center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    }
.nav a{ 
    color: rgb(0, 0, 0);
    text-decoration:none ;
    font-weight: 500;
    font-size: 1.1rem;
    padding-left: 30px;
}
.nav a:hover{
    color: rgb(56, 89, 222);
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(/img/2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}
.main h2{
    color: white;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    color:rgb(23, 164, 240);
    font-size: 3em;
    font-weight: 600;
    display: inline-block;
    margin-top: 8px;
}
.main h3 {
    color: white;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.btn{
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    margin-left: 10px;

}
.btn:hover{
    background-color: bisque;
    transform: scale(1.1);

}
.soc a{
    color: white;
    font-size: 2.7em;
    padding-left: 30px;
}
.title{
    display: flex;
    justify-content: center;
    color: rgb(202, 6, 6);
    font-size: 2.3em;
    font-weight: 800;
    margin-bottom: 30px;
    
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:40px;
}
.card{
    background-color: rgb(19, 18, 18);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(77, 2, 163, 0.7);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
    
}
.icon{
    color: white;
    font-size: 5em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: blue;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.info p{
    color: white;
    text-shadow: rgb(206, 181, 81);
}
.projects{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px 200px;
}
.content{ 
   
    
}
.project-card{
    background-color: white;
    border:2px solid white;
    min-height: 14em;
    width: 21em;
    overflow: hidden;
    border-radius: 10px;
    margin: 15px;
    transition: 0.7s ease;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-card:hover .project-image{
    opacity: 0.8;
}
.project-image img{
    width: 100%;
}
.project-info{
    padding: 1em;
}
.project-category{
    font-size: 0.8em;
    color:black
}
.project-title{
    display: flex;
    justify-content:space-between;
    text-transform: uppercase;
    font-weight: 800;
    color: black;
    margin-top: 10px;
}
.more-details{
    color: rgb(39, 3, 156);
    text-decoration: none;}
.more-details:hover{
    color: rgb(90, 3, 48);
}
.contact .icon{font-size: 4.5em ;}
.contact .info h3{
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.contact .info p{
    color: white;
    font-size: 0.9em;
    font-weight: 700;
    margin: 10px;
}
.footer{
    background-color: black;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
}
.footer-title{
    color: white;
    font-size: 1em;
    font-weight: 700;
    margin: 10px;
}
.footer-title span{
    color: rgb(167, 5, 89);
}
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .nav a{
        padding-left: 10px;

    }
    .title{
        font-size: 1.5em;
    }
    section{
        padding: 80px 20px;
    }
    .main-contect h2{
        font-size: 1em;
    }
    .main-contect h2{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .projects{
        padding: 15px 15px;
    }

}
@media(max-width:641px){
    body{
        font-size: 12px;
    }
    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3{
        font-size: 1.4em;
    }
    .projects{
        padding: 13px 17px;
    }
    .content{
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

}
@media(max-width:300px){
    body{
        font-size: 10px;
        
    }
    .main-content h2{
        font-size: 0.6em;
    }
    .main-content h3{
        font-size: 1.2em;
    }
    .projects{
        padding: 10px 20px;
    }
    .content{
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
}
